.submenu(style="width:100%")
  ul.nav.nav-tabs
    li(ng-repeat="(field,fieldo) in schedule.fields",data-ng-class="{active: displayedField==$index}") 
      a(data-toggle="tab",ng-click="setField($index)")
        h5 {{format_field(field)}}
.tab-content
  .tab-pane(ng-repeat="(myfield,fieldo) in schedule.fields",id="{{myfield}}",data-ng-class="{active: displayedField==$index}")
    fieldchart(schedule="schedule",field="myfield",colors="colors")
