.submenu(style="width:100%")
  ul.nav.nav-tabs
    li(ng-repeat="field in _.keys(schedule.fields)",data-ng-class="{active: displayedField==$index}") 
      a(data-toggle="tab",ng-click="setField($index)")
        h5 {{format_field(field)}}
.tab-content
  .tab-pane(ng-repeat="field in _.keys(schedule.fields)",id="{{field}}",data-ng-class="{active: displayedField==$index}")
    table(border=1,cellspacing="0px")
      thead
        tr
          th.timecol
            th(ng-repeat="d in schedule.days") {{d}}

      tbody
        tr(ng-repeat="t in schedule.times")
          th.timecol {{format_time(t)}}
          td(ng-repeat="d in schedule.days",ng-class="sched(field,d,t)")
            ul
              li(ng-repeat="tm in schedule.sched[field][d][t]") 
                .label(style="{{team_style(tm)}}") {{format_team(tm)}}
