extends layout

block body
  header.navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.brand(href="/") Cardiff Soccer Field Allocation
        ul.nav
          li
            select(ng-model="schedfile")
              option(value="") Choose a schedule
              option(ng-repeat="s in schedules",value="{{s}}",ng-selected="schedfile==s") {{s}}
        ul.nav.pull-right
          li
            a(href='doc') Docs

  .container-fluid
    div(ng-view)

  // jquery and underscore
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src="//code.jquery.com/ui/jquery-ui-git.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
  // boostrap
  script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")

  // angular libraries
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-resource.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')

  // angular-ui and ui-bootstrap
  script(src="/js/lib/angular-ui/angular-ui-ieshiv.min.js")  
  script(src="/js/lib/angular-ui/angular-ui.min.js")
  script(src="/js/lib/ui-bootstrap/ui-bootstrap-custom-0.1.1-SNAPSHOT.js")

  script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js")